
<div class="admin-area">
  {{#link-to 'admin'}}<h4 class="admin-title">Admin Area</h4>{{/link-to}}
  <ul class="admin-links">
    <li class="admin-btns">
      {{#link-to 'admin.menu-items'}}
        Current Menu
      {{/link-to}}
    </li>
    <li class="admin-btns">
      {{#link-to 'admin.orders'}}
        Current Orders
      {{/link-to}}
    </li>
  </ul>
  </div>

<style media="screen">


    .admin-title, .admin-links {
      display: flex;
      margin: auto;
      width: 50%;
      justify-content: center;
      color: #f6f1ed;
    }

    .admin-title, .admin-title a {
      margin-top: 80px;
      border: 1px solid #111;
      padding: 10px 0;
      background-color: #963019;
      text-decoration: none;
    }

    .admin-links {
      border: 1px solid #111;
      height: 100px;
      list-style: none;
      align-items: center;
      font-size: 20px;
      line-height: 20px;
      padding: 0;
    }

    .admin-btns a {
      flex: 1;
      padding: 10px;
      margin: 5px;
      background-color: #16174f;
      text-decoration: none;
      color: #f6f1ed;
      border: 1px #963019 solid;
    }
</style>

{{outlet}}
