<h1>Dinner Menu</h1>

{{#group-categories items=model tagName='ul' as |category|}}
  <li>
    <h3>{{category.name}}</h3>
    <ul>
      {{#each category.items as |menuItem|}}
        {{menu-item-result menuItem=menuItem}}
      {{/each}}
    </ul>
  </li>
{{/group-categories}}
