<h4 class="admin-menu-items__title">{{this.menu-item.name}}</h4>
<ul class="admin-menu-items">
  <li class="admin-menu-item__name">
   {{menuItemsList.name}}
  </li>
</ul>
<div class="admin-btn-space">
  {{#link-to 'admin.menu-items.new'}}
    <button class="admin-menu-items_new-btn">New Item</button>
  {{/link-to}}
</div>
