  <li class="menu-item__name">{{menuItem.name}}</li>
  <li class="menu-item__description">{{menuItem.description}}</li>
  <li class="menu-item__price">Price: ${{menuItem.price}}</li>

<button class="add-to-cart">Add To Cart</button>
